@import "../../styles/global.scss";

.footer {
  margin-top: 100px;
  text-align: center;
  hr {
    border: none;
    background-color: $color-grey;
    height: 1px;
    width: 70%;
  }
  .row {
    padding: 30px $horizontal-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 14px;
      color: $color-dark-grey;
    }
  }
}
