@import "../../styles/global.scss";

.hero {
  width: 100%;
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 12rem 0;
  p {
    color: $color-blue;
  }
  .title {
    font-size: 90px;
    font-weight: 600;
    line-height: 90px;
    margin: 0;
  }
  .subtitle {
    font-size: 40px;
    font-weight: 300;
    margin: 20px 0 40px;
  }
  .btn {
    align-self: center;
  }
  .arrow {
    height: 2rem;
    margin-top: 4rem;
    opacity: 0.2;
  }
  @include break-point(desktop-xxl) {
    padding: 14rem 0;
  }
  @include break-point(mobile) {
    .title {
      font-size: 3rem;
      line-height: 3.2rem;
    }
    .subtitle {
      font-size: 1.5rem;
      margin: 10px 0 20px;
    }
  }
  .row {
    justify-content: space-between;
  }
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    row-gap: 100px;
    .end,
    .col {
      justify-content: center;
      text-align: center;
    }
    .btn {
      align-self: center;
    }
  }
}
