$color-blue: #1d53ff;
$color-grey: #ebecf0;
$color-white: #fff;
$color-black: #1e1e1e;
$color-dark-grey: #525866;

$header-height: 80px;
$header-padding: 80px;
$vertical-padding: 200px;
$horizontal-padding: 150px;

@mixin break-point($points...) {
  @each $point in $points {
    @if $point == mobile {
      @media (max-width: 645px) {
        @content;
      }
    } @else if $point == tablet {
      @media (min-width: 768px) and (max-width: 1024px) {
        @content;
      }
    } @else if $point == desktop {
      @media (min-width: 1025px) and (max-width: 1439px) {
        @content;
      }
    } @else if $point == desktop-xl {
      @media (min-width: 1440px) and (max-width: 1599px) {
        @content;
      }
    } @else if $point == desktop-xxl {
      @media (min-width: 1600px) {
        @content;
      }
    } @else if $point == all-desktop {
      @media (min-width: 1025px) {
        @content;
      }
    }
  }
}

@mixin lift-animation {
  -webkit-transition: transform 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 375ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate(0px, -0.1rem);
  -ms-transform: translate(0px, -0.1rem);
  transform: translate(0px, -0.1rem);
}

@mixin focus {
  @include lift-animation;
  outline: 1px dashed $color-black;
  outline-offset: 1.5px;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: $color-blue;
  scroll-behavior: smooth;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

section {
  padding: $vertical-padding $horizontal-padding;
  @include break-point(desktop-xxl) {
    padding: 200px 250px;
  }
  @include break-point(mobile) {
    padding: 150px 25px 50px;
  }
}

.end {
  display: flex;
  justify-content: flex-end;
}

.center-text {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

h2 {
  font-size: 3rem;
  color: $color-blue;
  margin: 5px 0;

  @include break-point(mobile) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.7;
  color: $color-dark-grey;
  @include break-point(mobile) {
    font-size: 1rem;
  }
}
