@import "../../styles/global.scss";

$card-height: 450px;
$card-width: 400px;

.card {
  @include lift-animation;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $card-width;
  height: $card-height;
  background-color: $color-light-grey;
  border-radius: 28px;
  border: none;
  &:hover {
    transform: scale(1.05);
    .img-wrapper {
      .project-image {
        @include lift-animation(-5rem);
        &--small {
          @include lift-animation(-1rem);
        }
      }
    }
    .details {
      @include lift-animation(8rem);
      background: rgba(255, 255, 255, 0.9);
      .content {
        .col {
          .desc {
            height: auto;
            opacity: 1;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  &:focus {
    outline: 1px dashed $color-black;
    outline-offset: 5px;
  }
  .img-wrapper {
    overflow: hidden;
    height: $card-height;
    .project-image {
      object-fit: cover;
      width: $card-width - 150px;
      margin-top: 100px;
      @include lift-animation;
      &--small {
        width: $card-width - 100px;
      }
    }
  }
  .details {
    @include lift-animation;
    width: $card-width - 20px;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 22px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.8);
    .content {
      color: $color-black;
      padding: 15px;
      font-family: "Open Sans", sans-serif;
      .col {
        text-align: left;
        .desc {
          font-size: 14px;
          color: $color-black;
          line-height: normal;
          height: 0;
          opacity: 0;
          margin: 0;
        }
      }
      .row {
        justify-content: space-between;
        h3 {
          margin: 0 0 10px;
          font-weight: 500;
          font-size: 16px;
        }
        .source-code-link {
          a {
            border-radius: 10px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 20px;
              height: 20px;
            }
            &:hover {
              @include lift-animation;
            }
            &:focus {
              outline: 1px dashed $color-black;
              outline-offset: 5px;
            }
          }
        }
      }
      .chips {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
      }
    }
  }
  @include break-point(mobile) {
    width: 300px;
    height: 350px;
    .img-wrapper {
      height: 350px;
      .project-image {
        width: 200px;
        margin-top: 100px;
      }
    }
    .details {
      width: 280px;
      .content {
        .row {
          h3 {
            margin: 0;
          }
        }
        .chips {
          display: none;
        }
      }
    }
    &:hover {
      .project-image {
        @include lift-animation(-0.5rem);
      }
    }
  }
}
