@import "../../styles/global.scss";

.tech {
  margin: 150px 0;
  justify-content: center;
  img {
    height: 40px;
    margin: 0 40px;
  }
  @media (max-width: 820px) {
    img {
      height: 30px;
      margin: 0 25px;
    }
  }
  @include break-point(mobile) {
    img {
      height: 20px;
      margin: 0 10px;
    }
  }
}
