@import "../../styles/global.scss";

.tech {
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      text-align: center;
      width: 70%;
    }
    .grid {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      margin-top: 8rem;
      &:last-of-type {
        margin-top: 6rem;
      }
      .item {
        height: 50px;
        &--vert {
          height: 90px;
        }
      }
    }
    @media (max-width: 1200px) {
      .text {
        text-align: center;
        width: 100%;
      }
      .grid {
        gap: 20px;
        .item {
          height: 40px;
          &--vert {
            height: 80px;
          }
        }
      }
    }
    @media (max-width: 900px) {
      .grid {
        width: 100%;
        .item {
          height: 30px;
          &--vert {
            height: 60px;
          }
        }
      }
    }
    @media (max-width: 450px) {
      .grid {
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 100px;
        .item {
          height: 40px;
          &--vert {
            height:80px;
          }
        }
      }
    }
  }
}
