@import '../colors.scss';

#root {
  max-width: 600px;
  width: 600px;
  margin: 0 auto;
  text-align: start;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;

  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-links {
      display: flex;
      height: min-content;
      gap: 15px;
      white-space: nowrap;
    }
  }

  .logo {
    height: 100px;
    border-radius: 18px;
    margin-bottom: 17px;
  }

  a {
    font-weight: 500;
    color: var(--primary);
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  hr {
    border-top: none;
    border-left: none;
  }

  h1 {
    margin: 3px 0;
  }

  h2 {
    margin: 0 0 30px 0;
  }

  p {
    margin: 1px 0;
  }

  .description {
    margin-top: 40px;
  }

  .work-experience {
    display: flex;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &-period {
      flex: 1;
      margin-right: 40px;
    }
    &-description {
      flex: 4;
      &-location {
        margin-top: 4px;
      }
      li {
        margin-bottom: 10px;
      }
    }
    h3 {
      margin: 1px 0;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    .project {
      display: flex;
      .image {
        width: 50px;
        height: 50px;
        background-color: lightgray;
        border-radius: 4px;
      }
      &-details {
        margin-left: 20px;
      }
    }
  }

  .testimonial {
    margin-bottom: 30px;

    p {
      margin: 0;
    }

    p:first-of-type {
      margin-bottom: 10px;
    }
  }

  .footer {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &-links {
      display: flex;
      gap: 20px;

      a {
        display: flex;
        align-items: center;
      }

      img {
        width: 16px;
      }
    }
  }

  @media (max-width: 400px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      gap: 30px;

      &-links {
        justify-content: center;
        white-space: nowrap;
      }
    }
  }

  @media (max-width: 550px) {
    .work-experience {
      display: grid;
      grid-template-columns: 1fr;
      &-period {
        flex: 1;
        margin: 0 0 1px 0;
        p {
          font-size: 14px;
          color: $color-text-light;
        }
      }
    }

    .projects {
      grid-template-columns: 1fr;
    }

    .intro {
      display: unset;
      &-links {
        margin-top: 6px;
      }
    }
  }
}
