@import "../../styles/global.scss";

@mixin show-menu {
  .container {
    .nav-links {
      display: none !important;
    }
    .menu {
      display: block !important;
    }
  }
}

.header {
  height: $header-height;
  margin-top: -$header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  &--show-menu {
    @include show-menu;
  }
  .container {
    padding: 0 $header-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
    .logo {
      cursor: pointer;
      height: 40px;
      width: 40px;
      padding: 0;
      border: none;
      background-color: transparent;
      border-radius: 9px;
      &:hover {
        opacity: 0.8;
      }
      &:focus {
        @include focus;
      }
    }
    .nav-links {
      display: block;
      .link {
        border-radius: 10px;
        padding: 9px;
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        margin: 0 40px;
        font-size: 16px;
        color: $color-blue;
        &:last-of-type {
          margin-right: 0;
        }
        &:hover {
          @include lift-animation;
          background-color: rgba(255, 255, 255, 0.364);
        }
        &:focus {
          @include focus;
        }
      }
    }
    .menu {
      padding: 9px;
      border-radius: 10px;
      display: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      .line {
        width: 1.5rem;
        height: 2px;
        background-color: $color-blue;
        margin: 4px 0;
        border-radius: 1px;
      }
      &:hover {
        @include lift-animation;
        background-color: rgba(255, 255, 255, 0.364);
      }
      &:focus {
        @include focus;
      }
    }
    @include break-point(mobile) {
      padding: 0 25px;
    }
  }
  @media (max-width: 1000px) {
    @include show-menu;
  }
}
