@import "../../styles/global.scss";

.dialog {
  position: absolute;
  .bg {
    background: hsla(0, 0%, 0%, 0.33);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1;
  }
  .content {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    outline: none;
    z-index: 2;
    .menu {
      padding: 9px;
      border-radius: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      .line-top {
        @include line;
        transform: rotate(45deg);
        position: absolute;
      }
      .line-bot {
        @include line;
        transform: rotate(-45deg);
        position: absolute;
      }
      &:hover {
        @include lift-animation;
        background-color: rgba(255, 255, 255, 0.364);
      }
      &:focus {
        @include focus;
      }
    }
  }
}
