@import "../../styles/global.scss";

.chip {
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 400;
  background-color: $color-blue;
  border-radius: 10px;
  color: $color-white;
  align-self: flex-start;
  display: inline;
}
