$color-background-dark: #242424;
$color-background-light: #f9f9f9;
$color-royal-blue: #535bf2;
$color-malibu: #58a6ff;
$color-cod-gray: #1a1a1a;
$color-gray: #555555;
$color-light-gray: #9b9b9b;
$color-anakiwa: #99c8fd;
$color-persian-blue: #222ce0;
$color-card-light-gray: #ededed;
$color-card-dark-gray: #2e2e2e;
$color-card-border-light-gray: #e2e2e2;
$color-card-border-dark-gray: #424242;
