@import './colors.scss';

:root {
  --background: #{$color-background-light};
  --foreground: #{$color-cod-gray};
  --primary: #{$color-royal-blue};

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: normal;

  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 8rem 1.5rem;
}

.text {
  &-title {
    font-size: 18px;
    font-weight: 600;
    &--small {
      font-size: 16px;
    }
  }

  &-subtitle {
    font-size: 16px;
    font-weight: 500;
  }

  &-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.849px;
    letter-spacing: 0.16px;
    &--light {
      font-weight: 300;
    }
    &--small {
      font-size: 14px;
    }
  }

  &-gray {
    color: $color-text-light;
  }
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #{$color-background-dark};
//     --foreground: #{$color-background-light};
//   }
// }
